doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    // Añadimos bootstrap
    link(rel='stylesheet', href='/bootstrap-3/css/bootstrap.min.css', attr)
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

    script(src='/javascripts/jquery-3.1.1.min.js')
    script(src='/bootstrap-3/js/bootstrap.min.js')
    script(src='/javascripts/main.js')
